
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .table{
      width: 100%;
    }
    .table, tr, td{
      border: 1px solid black;
      padding: 10px;
      border-collapse: collapse;
    }
  </style>
</head>
<body>

<p><br></p>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td colspan="14"><br></td>
      <td  colspan="4">Kendaraan<br></td>


    </tr>
    <tr>
      <td>SUBSEKSI<br></td>
      <td colspan="2">FR<br></td>
      <td colspan="2">FH<br></td>
      <td colspan="2">FS</td>><br></td>
      <td>ST<br></td>
      <td>SW<br></td>
      <td>AF<br></td>
      <td>TR<br></td>
      <td>S<br></td>
      <td colspan="2">Lain-lain<br></td>
      <td colspan="4">DI V/S<br></td>

    </tr>
    <tr>
      <td>PL-1(St-1&2)<br></td>
      <td><br>adassssssssssert</td>
      <td><br>ssssssssssssss</td>
      <td><br>adsssssssssssssswad</td>
      <td><br>dasssssssssssswdaw</td>
      <td><br>awsssssssssdaw</td>
      <td><br>awsssssssssssssdaw</td>
      <td><br>dawsssssssssssdaw</td>
      <td><br>23ssssssssssssss23</td>
      <td><br>awdssssssssssssssssa</td>
      <td><br>ssssssssssssssssss</td>
      <td><br>sssssssss</td>
      <td><br>5ssssssssss</td>
      <td><br>sssssssssssssssssssssf</td>
       <td colspan="2"><br>ruiouit</td>
      <td colspan="2"><br>eiss</td>
    </tr>
    <tr>
      <td>PL-2(St-3&4)<br></td>
      <td><br>aert</td>
      <td><br>terterer</td>
      <td><br>adwdrgdgsgrsdgad</td>
      <td><br>ddaw</td>
      <td><br>aaw</td>
      <td><br>aaw</td>
      <td><br>daiououwdaw</td>
      <td><br>2uioouio323</td>
      <td><br>awda</td>
      <td><br></td>
      <td><br>3ouiou236</td>
      <td><br>5ouioui</td>
      <td><br>fui</td>
      <td colspan="2"><br>ruiouit</td>
      <td colspan="2"><br>eiss</td>
    </tr>
    <tr>
      <td>PL-3(St-5&6)<br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td>Start-Up<br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td>TRP<br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td> GC<br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td> CP/CF<br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td> MSR<br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
      <td><br></td>
    </tr>

  </tbody>
</table><p>press enter key.</p>

</body>
</html>